<ion-header [translucent]="true">
  <ion-toolbar class="padtop keepcenter setHeaderBG" style="background-color: aliceblue;">
    <img src="/assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-toolbar class="padtop setHeaderBG">
    <div class="search ion-padding">
      <ion-item lines="none">
        <ion-input placeholder="{{'SEARCH PRODUCTS' | translate }}"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>
    <ion-buttons slot="primary">
      <span class="textWhite">en</span>
      <ion-toggle [(ngModel)]="checked" (ngModelChange)="Clicked()"></ion-toggle><span class="textWhite">عربى</span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" class="textWhite"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button slot="primary" [disabled]="itemsInCart.length<=0" style="margin-right: 5px;">
      <ion-badge *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
    </ion-button> -->
  </ion-toolbar>

  <!-- <ion-toolbar no-border-top> -->
  <!-- <ion-item>
      <ion-label>Language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="lang" (ionChange)="switchLanguage()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="ar">عربى</ion-select-option>
      </ion-select>
    </ion-item> -->
  <!-- <ion-item>
      <ion-label>Language</ion-label>
      <ion-select [(ngModel)]="lang" (ionChange)="switchLanguage()">
        <ion-option value="en">English</ion-option>
        <ion-option value="ar">Arabic(عربى)</ion-option>
      </ion-select>
    </ion-item> -->
  <!-- <ion-segment>
      <ion-segment-button value="profile">
        Profile
      </ion-segment-button>
      <ion-segment-button value="orders">
        Orders
      </ion-segment-button>
      <ion-segment-button value="wallet">
        Wallet
      </ion-segment-button>
    </ion-segment> -->
  <!-- </ion-toolbar> -->

</ion-header>

<ion-content class="outer-content background">
  <div>

    <div padding-top text-center>
      <!-- <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label class="userName">{{username}}</ion-label>
      </ion-chip> -->

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label class="userName">{{username}}</ion-label>
      </ion-item>

      <ion-list>
        <!-- <button ion-item (click)="updatePicture()">Update Picture</button> -->
        <!-- <button ion-item (click)="addDOB()">Update Birth Date</button> -->
        <ion-button size="small" class="main-button" ion-item (click)="logout()">{{'LOGOUT'|translate}}</ion-button>
      </ion-list>

      <!-- <div class="product-slider ion-padding-start">
        <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
          <ion-slide *ngFor="let item of userData | slice : 0 : 5">
            <ion-col class="ion-text-left" routerDirection="forward" (click)="GoToDescriptionPage(product.id)">
              <ion-icon name="grid" class="iconsize"></ion-icon>
              <h6>{{ product.name | slice:0:17 }}</h6>
            </ion-col>
          </ion-slide>
        </ion-slides>
      </div> -->

      <ion-grid>
        <ion-row class="contentcircle">
          <ion-col class="setcenter">
            <div class="circleMenu color1">
              <ion-icon name="heart" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'WISH LIST' | translate }}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color2">
              <ion-icon name="star" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'FOLLOWING' | translate}}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color3">
              <ion-icon name="gift" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'VIEWED' | translate}}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color5">
              <ion-icon name="cash" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'COUPONS' | translate}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div padding-top text-center>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label class="userName">{{username}}</ion-label>
      </ion-item> -->

      <ion-grid>
        <ion-row class="contentcircle">
          <ion-col class="setcenter">
            <div class="circleMenu color1">
              <ion-icon name="grid" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{ 'UNPAID' | translate }}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color2">
              <ion-icon name="star-half" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{ 'TO BE SHIPPED' | translate }}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color3">
              <ion-icon name="gift" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{ 'SHIPPED' | translate }}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color5">
              <ion-icon name="cash" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{ 'TO BE REVIEWED' | translate }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p class="textWhite20">{{ 'NO ORDERS' | translate }}</p>
    </div>

    <div padding-top text-center>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label class="userName">{{username}}</ion-label>
      </ion-item> -->
      <p class="textWhite20">{{ 'MY CREDIT/DEBIT CARDS' | translate }}</p>
    </div>

  </div>
</ion-content>