<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="iconsize">
      <ion-icon name="Home" class="active"></ion-icon>
      <ion-label>{{'HOME' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="iconsize">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>{{'FEEDS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="iconsize">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>{{'NOTIFICATIONS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" class="iconsize">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>{{'CART' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" class="iconsize">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{'ACCOUNT' | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>