<ion-header [translucent]="true">
  <ion-toolbar class="padtop keepcenter setHeaderBG" style="background-color: aliceblue;">
    <img src="/assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-toolbar class="padtop setHeaderBG">
    <div class="search ion-padding">
      <ion-item lines="none">
        <ion-input placeholder="{{'SEARCH PRODUCTS' | translate }}t"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>
    <ion-buttons slot="primary">
      <!-- <ion-item>
        <ion-label>Language</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="lang" (ionChange)="switchLanguage()">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="ar">عربى</ion-select-option>
        </ion-select>
      </ion-item> -->
      <span class="textWhite">en</span>
      <ion-toggle [(ngModel)]="checked" (ngModelChange)="Clicked()"></ion-toggle><span class="textWhite">عربى</span>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" class="textWhite"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button slot="primary" [disabled]="itemsInCart.length<=0" style="margin-right: 5px;">
      <ion-badge *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-title>
      Feeds
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content fullscreen parallax-header>

  <div class="header-image"></div>

  <div class="main-content">

    <ion-segment [(ngModel)]="category">
      <ion-segment-button value="gear">
        {{'COSMETICS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="clothing">
        {{'ELECTRONICS' | translate}}
      </ion-segment-button>
      <ion-segment-button value="nutrition">
        {{'PERFUMES' | translate}}
      </ion-segment-button>
    </ion-segment>


    <ion-card *ngFor="let item of newproductList">

      <!-- <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.src"></ion-img>
          </ion-thumbnail>
          <ion-label>{{item.text}}</ion-label>
        </ion-item>
      </ion-list> -->


      <ion-item>
        <ion-avatar item-left>
          <ion-thumbnail slot="start">
            <ion-img [src]="item.src"></ion-img>
          </ion-thumbnail>
        </ion-avatar>
        <ion-label>Josh Morony</ion-label>
        <ion-label>November 5, 2020</ion-label>
      </ion-item>

      <img src="{{item.imgPath}}" />

      <ion-card-content>
        {{item.description}}
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>12 Likes</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>4 Comments</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11h ago
          </ion-note>
        </ion-col>
      </ion-row>

    </ion-card>

  </div>

</ion-content>