<ion-header class="headerContainer" [translucent]="true">
  <ion-toolbar class="padtop keepcenter" style="background-color: aliceblue;">
    <img src="/assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-toolbar class="padtop">
    <div class="search ion-padding">
      <ion-item lines="none">
        <ion-input placeholder="Search Your Product"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="camera-outline" class="cameraicon"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-button slot="primary" [routerLink]="['/tabs/tab4']" class="maincartcount" color="primary"
      [disabled]="itemsInCart.length<=0" style="margin-right: 5px;">
      <ion-badge class="badgecolor" *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <div class="toolbar-title">
    <ion-toolbar class="padtop">
      <ion-grid>
        <ion-row class="contentcircle">
          <ion-col class="setcenter">
            <div class="circleMenu color1">
              <ion-icon name="grid" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">Categories</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color2">
              <ion-icon name="star-half" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">Coins & Coupon</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color3">
              <ion-icon name="gift" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">Freebies</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color4">
              <ion-icon name="mail-open" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">get $20</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color5">
              <ion-icon name="cash" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">Coupon pals</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content class="mainContainer" [fullscreen]="true" color="light">


  <div class="title ion-padding">
    <h2>Categories</h2>
    <p>See all</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let item of Allcategories">
        <ion-col routerLink="/category-page/{{item.id}}">
          <h4>{{ item.name | slice:0:17 }}</h4>
          <div *ngIf="item.image !== null">
            <img src="{{item.image}}" />
          </div>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Featured</h2>
    <p>See all</p>
  </div>
  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of newproductList | slice : 0 : 5">
        <ion-col class="ion-text-left" routerDirection="forward" (click)="GoToDescriptionPage(product.id)">
          <img src="{{ product.imgPath }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name | slice:0:17 }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2 class="font-bold">All Categories</h2>
    <p>See all</p>
  </div>
  <ion-grid>
    <ion-row wrap>
      <ion-col size=6 *ngFor="let item of newproductList">
        <ion-card class="collist">
          <div class="fill">
            <ion-img (click)="GoToDescriptionPage(item.id)" src={{item.imgPath}} class="listimg"></ion-img>
          </div>
          <ion-card-header class="setpad">
            <ion-card-subtitle class="subfontsize">{{item.name | slice:0:17}}</ion-card-subtitle>
            <ion-card-title class="titlefontsize">${{item.price}}</ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding-bottom: 15px;">
            <ion-button class="setpadbutton" color="primary" [disabled]="item.quantityInCart<=0"
              (click)="removeToCart(item)" title="Remove from Cart">
              <ion-icon name="remove"></ion-icon>
              <ion-icon name="cart"></ion-icon>
            </ion-button>

            <ion-button [disabled]="item.quantityInCart<=0" color="light"> {{item.quantityInCart}}</ion-button>

            <ion-button class="setpadbutton" color="primary" (click)="addToCart(item)" title="Add to Cart">
              <ion-icon name="add"></ion-icon>
              <ion-icon name="cart"></ion-icon>
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>