<ion-header class="headerContainer" [translucent]="true">
  <ion-toolbar class="padtop keepcenter setHeaderBG" style="background-color: aliceblue;">
    <img src="/assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-toolbar class="padtop setHeaderBG">
    <div class="search ion-padding">
      <ion-item lines="none">
        <ion-input placeholder="Search Product"></ion-input>
        <ion-icon name="search-outline" slot="start"></ion-icon>
      </ion-item>
    </div>
    <ion-buttons slot="primary">
      <!-- <ion-item>
        <ion-label>Language</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="lang" (ionChange)="switchLanguage()">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="ar">عربى</ion-select-option>
        </ion-select>
      </ion-item> -->
      <!-- <span class="textWhite">en</span>
      <ion-toggle [value]="checked" (ionChange)="Clicked()"></ion-toggle><span class="textWhite">عربى</span> -->
    </ion-buttons>
    <!-- <ion-button slot="primary" [routerLink]="['/tabs/tab4']" class="maincartcount" color="primary"
      [disabled]="itemsInCart.length<=0" style="margin-right: 5px;">
      <ion-badge class="badgecolor" *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
    </ion-button> -->
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="Totalcart.length > 0">{{ Totalcart.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" class="textWhite"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="toolbar-title">
    <ion-toolbar class="padtop">
      <ion-grid>
        <ion-row class="contentcircle">
          <ion-col class="setcenter">
            <div class="circleMenu color1">
              <ion-icon (click)="showAllCatogories()" name="grid" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'CATEGORIES' | translate}}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color2">
              <ion-icon (click)="showAllCoupons()" name="star-half" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'COINS & COUPONS' | translate}}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color3">
              <ion-icon name="gift" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'FREEBIES' | translate}}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color4">
              <ion-icon name="mail-open" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'GET $20' | translate }}</div>
          </ion-col>
          <ion-col class="setcenter">
            <div class="circleMenu color5">
              <ion-icon name="cash" class="iconsize"></ion-icon>
            </div>
            <div class="customTitle">{{'COUPON PALS' | translate }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

  </div>
</ion-header>

<ion-content class="mainContainer" [fullscreen]="true" color="light">


  <div class="title ion-padding">
    <h2>{{ 'CATEGORIES' | translate }}</h2>
    <p>{{ 'SEE ALL' | translate }}</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let item of Allcategories">
        <ion-col routerLink="/category-page/{{item.id}}">
          <h4>{{ item.name | slice:0:17 }}</h4>
          <div *ngIf="item.image !== null">
            <img src="{{item.image}}" />
          </div>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">{{ 'FEATURED' | translate }}</h2>
    <p>{{ 'SEE ALL' | translate }}</p>
  </div>
  <div class="product-slider ion-padding-start sliderBG">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of AllProductsList | slice : 0 : 10">
        <ion-col class="ion-text-left" routerDirection="forward" (click)="GoToDescriptionPage(product.id)">
          <img src="{{ product.imgPath }}" />
          <p class="fontBold">SAR {{ product.price }}</p>
          <h6>{{ product.name | slice:0:17 }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2 class="font-bold">{{ 'ALL CATEGORIES' | translate }}</h2>
    <p>{{ 'SEE ALL' | translate }}</p>
  </div>
  <ion-grid>
    <ion-row wrap>
      <ion-col size=6 *ngFor="let item of AllProductsList">
        <ion-card class="collist">
          <div class="fill">
            <ion-img (click)="GoToDescriptionPage(item.id)" src={{item.imgPath}} class="listimg"></ion-img>
          </div>
          <ion-card-header class="setpad">
            <ion-card-subtitle class="subfontsize">{{item.name | slice:0:20}}</ion-card-subtitle>
            <ion-card-title class="titlefontsize">SAR {{item.price}}</ion-card-title>
          </ion-card-header>

          <ion-card-content style="padding-bottom: 15px;">
            <!-- <ion-button class="setpadbutton" color="primary" [disabled]="item.quantityInCart<=0"
              (click)="removeToCart(item)" title="Remove from Cart">
              <ion-icon name="remove"></ion-icon>
              <ion-icon name="cart"></ion-icon>
            </ion-button> -->

            <p>
              <ion-button class="addCart" (click)="addToCart(item)"><span>{{'ADD TO' | translate}}</span>
                <ion-icon slot="icon-only" name="cart" class="floatLeft"></ion-icon>
              </ion-button>
            </p>
            <!-- <ion-button [disabled]="item.quantityInCart<=0" color="light"> {{item.quantityInCart}}</ion-button> -->

            <!-- <ion-button class="setpadbutton" color="primary" (click)="addToCart(item)" title="Add to Cart">
              <ion-icon name="add"></ion-icon>
              <ion-icon name="cart"></ion-icon>
            </ion-button> -->

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Loading more products...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-header>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>