<ion-header [translucent]="true">
  <ion-toolbar class="padtop" style="background-color: aliceblue;">
    <img src="/assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-toolbar class="padtop">
    <ion-buttons slot="primary">
      <ion-searchbar placeholder="Search Products"></ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="camera-outline" class="cameraicon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-button slot="primary" [disabled]="itemsInCart.length<=0" style="margin-right: 5px;">
      <ion-badge *ngIf="itemsInCart.length">{{itemsInCart.length}}</ion-badge>
      <ion-icon name="cart"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Message Lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>