<ion-header>
  <ion-toolbar class="headerBG">
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/tabs/tab1" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification" routerLink="/tabs/tab3">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      <ion-buttons slot="end">
        <ion-button (click)="openCart()">
          <ion-badge *ngIf="cart.length > 0">{{ cart.length }}</ion-badge>
          <ion-icon slot="icon-only" name="cart" class="textWhite"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide *ngFor="let image of product.images">
      <img src="{{ image.original }}" />
    </ion-slide>
    <!-- <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide>
    <ion-slide>
      <img src="../../assets/product-slider/prod-slide1.png" />
    </ion-slide> -->
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{product.name}}</h1>

    <h4 class="price">
      SAR{{ product.price }}
      <!-- <span class="real-price">$62</span> -->
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="">
    <ion-row>
      <div>
        <p>Seller: Elninohub</p>
      </div>
    </ion-row>
  </div>

  <div class="review">
    <ion-row>
      <ion-col size="6">
        <div class="rating">
          4.5
        </div>

        Very Good
      </ion-col>
      <ion-col size="6">
        <div class="count">49 Reviews</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="description">
    <h5>Description</h5>
    <p [innerHTML]="product.description"></p>


  </div>

  <div class="seperator">
    <hr>
  </div>

  <!-- <div class="variation">
    <ion-segment (ionChange)="segmentChanged($event)" value="size">
      <ion-segment-button value="size">
        <ion-label>Select Size</ion-label>
      </ion-segment-button>
      <ion-segment-button value="color">
        <ion-label>Select Color</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <div class="seperator">
    <hr>
  </div>
  <div class="title ion-padding">
    <h2 class="font-bold">You may also like</h2>
    <!-- <p>See all</p> -->
  </div>
  <div class="product-slider ion-padding-start sliderBG">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let product of newproductList | slice : 0 : 10">
        <ion-col class="ion-text-left" routerDirection="forward" (click)="GoToDescriptionPage(product.id)">
          <img src="{{ product.imgPath }}" />
          <p class="fontBold">${{ product.price }}</p>
          <h6>{{ product.name | slice:0:17 }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- <div class="variation-selector">
    <div class="sizes" [class.active-variation]="activeVariation == 'size'">
      <div [class.active]="selectedSize == 1" (click)="changeSize(1)">
        S
      </div>
      <div [class.active]="selectedSize == 2" (click)="changeSize(2)">
        M
      </div>
      <div [class.active]="selectedSize == 3" (click)="changeSize(3)">
        L
      </div>
      <div [class.active]="selectedSize == 4" (click)="changeSize(4)">
        XL
      </div>
    </div>

    <div class="colors" [class.active-variation]="activeVariation == 'color'">
      <div [class.active]="selectedColor == 1" (click)="changeColor(1)">
        BLACK
      </div>
      <div [class.active]="selectedColor == 2" (click)="changeColor(2)">
        GREEN
      </div>
      <div [class.active]="selectedColor == 3" (click)="changeColor(3)">
        BLUE
      </div>
    </div>
  </div> -->
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-row>
        <ion-button expand="small" class="storeBtn" (click)="openStoreInfo()" color="light">
          <img class="storeimg" src="./assets/store.png" />
        </ion-button>
        <ion-button expand="small" color="light" (click)="addItemToCart(cartProduct)"> Add to cart</ion-button>
      </ion-row>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" class="buyBtn" (click)="addItemToCartBuy(cartProduct)"><span>Buy now
        </span> (<span>{{product.price}}</span> )
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>