/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import '~animate.css/animate.min.css';
 
.cart-modal {
  --height: 50%;
  --border-radius: 10px;
  padding: 25px;
}
.logo{
  max-width: 110px;
  margin-top: 2px;
}

.padtop{
  padding-top:1px;
}

.keepcenter{
text-align: center;
}
.search.ion-padding{
  padding-top: 1px;
}
.search {
  margin-bottom: 1px;

  ion-item {
      border-radius: 10px;
      box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
      //padding: 8px;

      ion-icon {
          margin-right: 16px;
      }

      ion-input {
          padding-left: 10px !important;
          border-left: 1px solid #F4F4F4;
      }
  }
}

@font-face {
  font-family: 'SegoeUI';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI.ttf');
}

@font-face {
  font-family: 'SegoeUI-Bold';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/Segoe\ UI\ Bold.ttf');
}

@font-face {
  font-family: 'SegoeUI-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/Segoe\ UI\ Bold\ Italic.ttf');
}

@font-face {
  font-family: 'SegoeUI-Italic';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/Segoe\ UI\ Italic.ttf');
}

* {
  font-family: 'SegoeUI';
}

.main-button {
  //--background: linear-gradient(90deg, rgba(102,126, 234, 1) 0%, rgba(100, 182, 255, 1) 100%);
  --box-shadow: none;
  position: relative;
  height: 50px;
  margin-bottom: 15px;
  --background: #DA4453;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.main-button::after {
  content: " ";
  position: absolute;
  width: 80%;
  right: 10%;
  bottom: 0;
  top: 10px;
  height: 40px;
  z-index: -1;
  box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 1);
}

// Removing ion-button focus outline
ion-button:focus {
  outline: none !important;
}

ion-buttons:focus {
  outline: none !important;
}

// Removing iOS and Android Header line for entire app
ion-toolbar {
  --border-width: 0 !important;
}

.header-md::after {
  background: none;
}

.notification {
  span {
      background-color: #F5576C;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 10%;
      right: 10%;
  }
}

// Customizing Product Slider Bullets

.product-slider {
  .swiper-pagination {
      text-align: left;
      padding-left: 20px;

      .swiper-pagination-bullet {
          background: #ffffff;
          opacity: 1;
      }

      .swiper-pagination-bullet-active {
          background: var(--ion-color-primary);
      }
  }
}

.setHeaderBG{
  //     --background: #2980b9;  /* fallback for old browsers */
  // --background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  // --background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  --background: #2980b9;  /* fallback for old browsers */
  --background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }

  .fontBold{
    font-weight: bold;
  }
  .textWhite20{
    font-size:20px;
    color:#fff;
}

.textWhite{
  color:#fff;
}

.headerBG{
  --background: #02AAB0;  /* fallback for old browsers */
--background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
--background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


ion-badge {
    color: #fff;
    position: absolute;
    top: -10px;
    right: -5px;
    border-radius: 100%;
    background-color: red;
}