<ion-header>
  <ion-toolbar class="headerBG">
    <ion-buttons slot="start">
      <ion-buttons class="backbtn" routerLink="/tabs/tab4" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <div class="padtop keepcenter">
      <img src=" /assets/img/logo.png" class="logo" />
    </div>
    <!-- <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <h1 class="title">{{'PAYMENT' | translate}}</h1>
  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let item of ProductsInCartList">
      <ion-card-content>
        <div class="item-img">
          <img src="{{item.imgPath}}" />
        </div>

        <div class="item-info">
          <p>{{item.name | slice:0:50}}</p>
          <!-- <p>Apple</p> -->
          <p>{{ 'SAR' | translate }} {{item.price * item.quantityInCart}}</p>

          <!-- <div class="qty-selector">
            <ion-button fill="clear" (click)="removeFromCart(item)">-</ion-button>
            <ion-label>{{item.quantityInCart}}</ion-label>
            <ion-button fill="clear" (click)="addToCart(item)">+</ion-button>
          </div> -->
        </div>
      </ion-card-content>
    </ion-card>
    <span *ngIf="Totalcart.length > 0">
      <!-- <div class="address">
        <ion-item lines="none">
          37/6 A, Delhi , New Delhi
          <ion-badge slot="end">&nbsp;</ion-badge>
        </ion-item>
      </div> -->

      <hr>

      <div class="cart-total">
        <ion-item lines="none">
          <ion-label>{{'SUB TOTAL' | translate }}</ion-label>
          <ion-label slot="end" class="ion-text-right">{{ 'SAR' | translate }} {{totalAmount}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{'DISCOUNT' | translate}}</ion-label>
          <ion-label slot="end" class="ion-text-right">0</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{'SHIPPING' | translate}}</ion-label>
          <ion-label slot="end" class="ion-text-right">{{ 'SAR' | translate }} {{shippingAmount}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>{{"TOTAL" | translate}}</ion-label>
          <ion-label slot="end" class="ion-text-right">{{ 'SAR' | translate }} {{amountWithShipping}}</ion-label>
        </ion-item>
      </div>
    </span>
    <div>
      <p>{{'COUPON PROMO' | translate }}</p>
      <ion-item>
        <ion-input type="text" [(ngModel)]="Coupon" text-right id="input"></ion-input>
      </ion-item>
      <ion-button size="small" class="main-button" type="submit">
        {{'ADD COUPON' | translate }}
      </ion-button>
    </div>
    <p>{{'YOUR CARD DETAILS' | translate }} :</p>
    <form action="http://localhost:8100/confirm" class="paymentWidgets" data-brands="VISA MASTER MADA"></form>

  </div>
</ion-content>

<ion-footer translucent="true" class="ion-no-border" mode="md">
  <!-- <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/confirm" routerDirection="forward">Buy</ion-button>
  </ion-toolbar> -->
</ion-footer>