<ion-header>
  <ion-toolbar class="headerBG">
    <div class="padtop keepcenter">
      <img src=" /assets/img/logo.png" class="logo" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span *ngIf="resultMassege=='Payment was not successful'; else successDiv">
    <div class="confirmation">
      <div class="ion-text-center">

        <div class="outer-circle">
          <div class="inner-circle">
            <img src="../../assets/dislike.png" />
          </div>
        </div>

        <!-- <h2>Confirmation</h2>
        <p>
          You have successfully <br>
          completed your payment procedure
        </p> -->
        <h3>{{resultMassege}}</h3>
      </div>
    </div>
  </span>
  <span *ngIf="resultMassege=='Payment was successful'">
    <div class="confirmation">
      <div class="ion-text-center">

        <div class="outer-circle">
          <div class="inner-circle">
            <img src="../../assets/like.png" />
          </div>
        </div>

        <h2>Confirmation</h2>
        <p>
          You have successfully <br>
          completed your payment procedure
        </p>
        <h3>{{resultMassege}}</h3>
      </div>
    </div>
  </span>

</ion-content>
<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-toolbar color="translucent">
    <ion-button expand="block" class="main-button" routerLink="/tabs/tab1" routerDirection="back">Back to Home
    </ion-button>
  </ion-toolbar>
</ion-footer>